/* common shared-style */
.azeret-mono-original {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.section-title{
    font-size: 32 px;
    font-weight: bolder;
}
.section-para{
    font-size: 16px;
   }




/* individual-styles */

.nav-title {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 48px;
    margin-left: 150px;
}

nav ul li button{
    background-color: rgba(255, 255, 255, 0);
    margin-right: 150px;
    margin-bottom: 36px;
    font-size: 20px;
    font-weight:600px;
    border-radius: 8px;
    max-width: 244px;
    padding: 17px, 24px;
   
}
.banner-title{
    font-size: 48px;
font-weight:bolder;
max-width: 998px;
text-align: center;
margin-left: auto;
margin-right: auto;

}
.banner-description, p{
font-size: 16px;
max-width: 852px;
margin-left: auto;
margin-right: auto;
}

.banner {
    background-image: url(../assets/herobg.png);
    display: block;
    text-align: center;
    padding-top: 26px;
    padding-bottom:45px ;
    }
.banner-title{
    font-size: 48px;
    font-weight:bolder;
    max-width: 998px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.banner-description{
    font-size: 16px;
    max-width: 852px;
}
.banner-btn{
    font-size: 20px;
    font-weight:600px;
    color: white;
    background-color: black;
    padding: 21px, 24px, 21px, 24px;
    width: 244px;
    height: 65px;
}

main {
    margin-left: 150px;
    margin-right: 150px;
   }

.section-intro {
    text-align: center;
}
.section-1{
    margin-top: 119px;
    padding: 80px 97px 80px 97px;
    margin-bottom: 90px;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.47);
   
}

.learn-more{
font-size: 20px;
padding: 12px, 20px, 12px, 20px;
width:171px;
background-color: white;
height:47px;
}


.why-1,.why-2,.why-3 {
    display: flex;
    justify-content: space-between;
    margin:32px;
    
    
}
.why-1{
    margin-top: 48px;
}
/* .why-2-para {
    text-align:left;
}  */

.section-1 {
    margin-top: 74px;
    margin-bottom: 90px;
    max-width: 1140px;
    padding: 80px, 97px, 80px, 97px;
    margin-left: auto;
    margin-right: auto;
}
.section-2{
    margin-top:90px;

}

.current-target {
    display: flex;
    gap: 24px;  
    max-width: 946px;
    margin-left:150px ;
    margin-right:150px ;
    justify-content: space-around;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;  
}
.current-target-1{
    
    padding:40px;
    width:364px;
}

.react, .node, .mongodb {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding: 40px 40px 40px 40px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.023) ;
    border-radius:16px ;
    

}

.section-4 {
    margin-top: 111px;
    margin-bottom: 49px;
    max-height:866px;
    
}


.last-details {
    
    margin-top: 49px;
    margin-bottom: 80px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 313px;
    max-width:1140px;
    margin-left: auto;
    margin-right: auto;
           
}


.section-3{
    margin-top:151px;
    }

  .next-learn{
    font-size: 16px;
    font-weight: bold;
    
    color:black;
  }
  .video-border{
    border: 1px;
    color: rgba(0, 0, 0, 0.087);
    border-style: solid;
    padding:32px 32px 32px 32px;
    border-radius: 16px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
  }
  .video-radius{
    border-radius: 16px;
  }
  footer{
    background-color: rgba(245, 245, 245, 0.872); 
    
  }
  .footer-icon {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 1140px; 
    gap:527px;
    margin-left: auto;
    margin-right: auto;
    
}

 